* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    background-color: #a3f7bf;
    font-family: Sniglet;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
}

.header {
    width: 100vw;
    height: 200px;
    background-color: #05dfd7;
    display: flex;
    position: relative;
}

.header h1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 6rem;
    color: #f35588;
    -webkit-text-stroke: 4px white;
}

.header ul {
    list-style: none;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header li {
    margin: 50px;
}

.current a {
    text-decoration: none;
    color: #f35588;
}
.current a::after {
    content: "_";
    font-size: 6px;
    display: block;
    background-color: #f35588;
}
ul a {
    text-decoration: none;
    -webkit-text-stroke: 4px #f35588;
}
ul a:visited {
    text-decoration: none;
    color: #fff591;
    -webkit-text-stroke: 4px #f35588;
}

ul a:link {
    color: #fff591;
    -webkit-text-stroke: 4px #f35588;
}

.level {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.lev {
    border: 10px solid #05dfd7;
    padding: 10px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    cursor: pointer;
    -webkit-text-stroke: 3px white;
}
.level a {
    text-decoration: none;
    -webkit-text-stroke: 2px white;
}
.one {
    color: #ffaaa7;
}

.one a:visited {
    color: #ffaaa7;
}
.two {
    color: #98ddca;
}

.two a:visited {
    color: #98ddca;
}
.three {
    color: #ffd3b4;
    
}

.three a:visited {
    color: #ffd3b4;
}

h1 {
    color: #f35588;
    -webkit-text-stroke: 6px white;
}

.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 6rem;
    position: relative;
    
    /* as long the problem is not solved */
 
    
}

.error {
    position: absolute;
    top: 100px;
    left: 600px;
    width: 30%;
  
}

.equation {
    height: 300px;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 100px;
    padding: 20px;
    background-color: #05dfd7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px white solid;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.equation h1 {
    flex-direction: column;
    padding: 20px;
}

#num1 {
    color: #ffd3b4;
}
#num2 {
    color: #d5ecc2;
}
#result {
    color: #98ddca;
}

#mal {
    margin-bottom: 5rem;
}

.answerOptions {
    width: 10em;
    margin-right: 50px;
    margin-top: -100px;
    padding: 150px;
}

.answerOptions h1 {
    cursor: pointer;
    text-align: center;
    border: 10px solid white;
    margin: 15px;
}

.answerOptions #option1 {
    width: auto;
    background-color: #d5ecc2;
    transition: 1s;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
}

.answerOptions #option1:hover {
    transform: rotate(15deg);
}

.answerOptions #option2 {
    background-color: #ffaaa7;
    transition: 1s;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.answerOptions #option2:hover {
    transform: rotate(-15deg);
}

.answerOptions #option3 {
    background-color: #98ddca;
    transition: 1s;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}

.answerOptions #option3:hover {
    transform: rotate(15deg);
}


